{% paginate blog.articles by 3 %}
  {% for article in blog.articles %}
        <div>
            {% if article.image %}
                <img src={{ article.image | img_url: 'medium' }} alt={{ article.image.alt }} width={{ article.image.width }} height={{ article.image.height }} />
            {% else %}
                {{ 'image' | placeholder_svg_tag }}
            {% endif %}
        </div>
  {% endfor %}
{% endpaginate %}