<article itemscope itemtype="http://schema.org/BlogPosting">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <div class="flex item-center justify-center ">
          <div class="w-full">
            <a href="{{ blog.url }}" style="-webkit-text-fill-color: transparent;" class="text-base uppercase bg-clip-text  text-transparent bg-gradient-to-tr from-rose-400 to-indigo-400 hover:text-neutral-800 font-bold">
              {{ blog.title }}
            </a>
            <h1 class="text-4xl font-bold text-neutral-800 mb-5 leading-tight" itemprop="headline">{{ article.title }}</h1>
          </div>
        </div>
      {% when 'article_author' && 'article_published_date' %}
        <div class="font-semibold overflow-hidden text-[13px] bg-indigo-50 px-2 rounded-md border border-indigo-200 inline-flex flex-wrap border-b items-center mb-4 gap-x-2">
          {% if section.settings.enable_author %}
            <div class=" py-1 text-center" itemscope itemtype="http://schema.org/Person">
              <span class="ml-2" itemprop="author" >{{ article.author }}</span>
            </div>
          {% endif %}
          |
          {% if section.settings.enable_publish_date %}
            <time class=" mr-2 py-1 text-center" datetime="{{ article.published_at | date : "%B %d, %Y" }}" itemprop="datePublished dateCreated">
               {{ article.published_at | date: "%B %d, %Y" }}
            </time>
          {% endif %}
        </div>
      
      {% when 'featured_image' %}
      
      <img
        itemprop="image"
        class="border-l border-t border-r rounded-t-2xl"
        src="{{ article.image | img_url:'master' }}"
        loading="lazy"
        height="{{ article.image.height }}"
        width="{{ article.image.width }}"
        alt="{{ article.image.alt }}"
      >
      
      {% when 'article_content' %}
      <div itemprop="articleBody" class="article_cont">{{ article.content }}</div>
      {% else %}

    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comment" class="my-6">
    {% if article.comments_count > 0 %}
        <div class="flex-1 items-center justify-center mx-auto max-w-4xl">
            <h2 class="text-2xl mt-5 mb-6 font-medium">See what people are saying</h2>
            <div class="rounded-xl border border-neutral-200 py-8 px-6 bg-gradient-to-tr from-indigo-50 to-lime-50">
              {% paginate article.comments by 5 %}
                <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-5">
                {% for comment in article.comments %}
                    <div class="flex-1 flex flex-col border  leading-relaxed rounded-xl overflow-hidden shadow-lg">
                      <div class="flex items-center bg-neutral-50 shadow-sm z-10">
                        <span class="comment-author font-medium text-lg py-4 px-3 sm:px-4 sm:py-4 text-neutral-600">{{ comment.author }}</span>
                        <span class="text-[12px] text-indigo-500 border border-indigo-200 bg-indigo-50 px-3 py-1 rounded-full">{{ comment.created_at | date: '%B %d, %Y'}}</span>
                      </div>
                      <div class="w-full inline-flex flex-1 mx-0 gap-1 py-4 px-4 sm:px-6 sm:py-4 bg-neutral-100 italic text-neutral-500 text-[13px] tracking-wide">
                        <span class="text-lg font-bold text-rose-500">“</span> {{ comment.content }} <span class="text-lg font-bold text-rose-500">”</span>
                      </div>
                    </div>
                {% endfor %}
                </div>
                {% if paginate.pages > 1 %}
                  <div class="post-pagination">
                    {{ paginate | default_pagination }}     
                  </div>               
                {% endif %}
              {% endpaginate %}
            </div>
        </div>
    {% else %}
      <p class="px-2">There are not comment for this post.</p>
    {% endif %}
  </div> 
  <h2 class="text-2xl mt-5 mb-6 font-medium">Write your comment</h2>
  <div id="comment_form" class="mb-6 rounded-xl border border-neutral-200 bg-gradient-to-tr from-indigo-50 to-neutral-50">
    {% form 'new_comment', article %}
      <div class="flex-1 mx-auto items-center justify-center max-w-4xl py-6 px-4">
        
        {% if form.errors %}
          <div class="border border-red-200 px-3 pt-3 rounded-lg mb-5 mx-4 mt-2 bg-red-100">
            <div class="flex flex-row items-center mb-1">
              <div class="text-red-500">
                  {% render 'icon-error' %}
              </div>
              <div class="text-sm font-medium ml-3">
                Oh! your commnet was not posted
              </div>
            </div>
            <ul class="px-4 mb-3 ml-8 list-disc">
              {% for error in form.errors %}
                  <li class="text-[12px]">
                    <span>{{ form.errors.messages[error] }}</span>
                  </li>
              {% endfor %}
            </ul>
          </div>
        {% elsif form.posted_successfully? %}
          <div class="flex flex-row items-center flex-1 border border-green-300 p-5 bg-green-100 mx-4 rounded-lg mb-5 mt-2">
            <div class="text-green-500">
              {% render 'icon-success' %}
            </div>
            <div class="text-sm font-medium ml-3">
              Comment posted successfully
            </div>
          </div>
        {% endif %}
        <div class="px-1 md:flex mb-3">
          <div class="px-3 md:w-1/2">
            <label for="comment_author" class="text-neutral-600 font-medium uppercase text-[14px] mb-2 block"
              >Name</label
            >
            <input
              type="text"
              name="comment[author]"
              id="comment_author"
              class="w-full text-neutral-800 border border-neutral-200 py-3 px-4 mb-3 focus:outline-none rounded-xl shadow-lg"
              placeholder="John Doe"
              required
            >
          </div>
          <div class="px-3 md:w-1/2">
            <label for="comment_email" class="text-neutral-600 font-medium uppercase text-[14px] mb-2 block"
              >Email</label
            >
            <input
              type="email"
              name="comment[email]"
              id="comment_email"
              class="w-full text-neutral-800 border border-neutral-200 py-3 px-4 mb-3 focus:outline-none rounded-xl shadow-lg"
              placeholder="john@example.com"
              required
            >
          </div>
        </div>
        <div class="px-1 md:flex mb-3">
            <div class="md:w-full px-3">
                <label for="comment_body" class="text-neutral-600 font-medium uppercase text-[14px] mb-2 block"
                >Message</label
              >
                <textarea
                    name="comment[body]"
                    id="comment_body"
                    class="w-full resize-none h-40 text-neutral-800 border border-neutral-200 py-3 px-4 mb-3 focus:outline-none rounded-xl shadow-lg"
                    placeholder="Write your comment here..."
                    required
                  ></textarea>
            </div>
        </div>
        <div class="px-1 md:flex mb-3">
            <div class="md:w-full px-3">
                <input type="submit" class="shadow-lg w-full cursor-pointer px-4 py-2 rounded-full border bg-neutral-800 text-neutral-50 hover:bg-neutral-600" />
            </div>
        </div>
      </div>
    {% endform %}
  </div>
{% endif %}

<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "headline" : {{ article.title | json }},
    "articleBody" : {{ article.content | strip_html | json }},
    {% if article.excerpt != blank %}
      "descrption" : {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image" : [
        {{ article.image | img_url : "medium" | prepend: 'http:' | json }}
      ],
    {% endif %}
    "datePublished" : {{ article.published_at | date: '%B %d, %Y' | json }},
    "dateCreated" : {{ article.created_at | date: '%B %d, %Y' | json }},
    "author" : {
        "@type" : "Person",
        "name" : {{ article.author | json  }}
    },
    "publisher" : {
      "@type" : "Organization",
      "name" : {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "Template Article",
  "tag": "article",
  "class": "flex max-w-4xl flex-col w-full mx-auto p-5",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "label": "Display Author Name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_publish_date",
      "label": "Display Published date",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
