<article class="">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <div class="flex item-center justify-center ">
          <div class="max-w-7xl">
            <a href="{{ blog.url }}" class="text-base uppercase text-neutral-500 hover:text-neutral-800 font-bold">
              {{ blog.title }}
            </a>
            <h1 class="text-4xl font-bold text-neutral-800 mb-5">{{ article.title }}</h1>
          </div>
        </div>
      {% when 'article_author' && 'article_published_date' %}
        <div class="font-semibold overflow-hidden text-[13px] inline-flex border-b items-center pb-2">
          {% if section.settings.enable_author %}
            <div class=" py-1 px-1 text-center ">
              <span class="text-neutral-500">Author :</span><span class="ml-2">{{ article.author }}</span>
            </div>
          {% endif %}
          |
          {% if section.settings.enable_publish_date %}
            <time class=" py-1 px-2 text-center" datetime="{{ article.published_at | date : '%Y-%m-%d' }}">
              {{ article.published_at | date: '%Y-%m-%d' }}
            </time>
          {% endif %}
        </div>
      {% when 'featured_image' %}
        <img
          class="rounded-t-2xl"
          src="{{ article.image | img_url:'master' }}"
          loading="lazy"
          height="{{ article.image.height }}"
          width="{{ article.image.width }}"
          alt="{{ article.image.alt }}"
        >
      {% when 'article_content' %}
        <div class="py-8 px-6 rounded-b-2xl bg-neutral-50 border border-neutral-200 text-sm">{{ article.content }}</div>
      {% else %}

    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comment" class="my-6">
    {% if article.comments_count > 0 %}
        <div class="flex-1 items-center justify-center mx-auto max-w-4xl">
            <h1 class="text-lg mb-4 font-medium">See what people are saying</h1>
            <div class="grid sm:grid-cols-2 gap-5 rounded-xl border border-neutral-200 py-8 px-6 bg-gradient-to-tr from-indigo-50 to-lime-50">
              {% paginate article.comments by 5 %}
                {% for comment in article.comments %}
                    <div class="flex-1 flex flex-col border  leading-relaxed rounded-xl overflow-hidden shadow-lg">
                      <div class="flex items-center bg-neutral-50 shadow-sm z-10">
                        <span class="comment-author font-medium text-lg py-4 px-3 sm:px-4 sm:py-4">{{ comment.author }}</span>
                        <span class="text-[12px] text-neutral-50 bg-neutral-500 px-3 py-1 rounded-full">{{ comment.created_at | date: format: 'abbreviated_date'}}</span>
                      </div>
                      <div class="w-full flex-1 mx-0 block py-4 px-4 sm:px-6 sm:py-4 bg-neutral-100">
                        {{ comment.content }}
                      </div>
                    </div>
                {% endfor %}
                {% if paginate.pages > 2 %}
                    {{ paginate | default_pagination }}                  
                {% endif %}
              {% endpaginate %}
            </div>
        </div>
    {% else %}
      <p class="px-2">There are not comment for this post.</p>
    {% endif %}
  </div> 
  <div id="comment_form" class="mb-6 rounded-xl border border-neutral-200 bg-gradient-to-tr from-indigo-50 to-neutral-50">
    {% form 'new_comment', article %}
      <div class="flex-1 mx-auto items-center justify-center max-w-4xl py-6 px-4">
        <div class="px-1 md:flex mb-3">
          <div class="px-3 md:w-1/2">
            <label for="comment_author" class="text-neutral-600 font-medium uppercase text-[14px] mb-2 block"
              >Name</label
            >
            <input
              type="text"
              name="comment[author]"
              id="comment_author"
              class="w-full text-neutral-800 border border-neutral-200 py-3 px-4 mb-3 focus:outline-none rounded-xl shadow-lg"
              placeholder="John Doe"
              required
            >
          </div>
          <div class="px-3 md:w-1/2">
            <label for="comment_email" class="text-neutral-600 font-medium uppercase text-[14px] mb-2 block"
              >Email</label
            >
            <input
              type="email"
              name="comment[email]"
              id="comment_email"
              class="w-full text-neutral-800 border border-neutral-200 py-3 px-4 mb-3 focus:outline-none rounded-xl shadow-lg"
              placeholder="john@example.com"
              required
            >
          </div>
        </div>
        <div class="px-1 md:flex mb-3">
            <div class="md:w-full px-3">
                <label for="comment_body" class="text-neutral-600 font-medium uppercase text-[14px] mb-2 block"
                >Message</label
              >
                <textarea
                    name="comment[body]"
                    id="comment_body"
                    class="w-full resize-none h-40 text-neutral-800 border border-neutral-200 py-3 px-4 mb-3 focus:outline-none rounded-xl shadow-lg"
                    placeholder="Write here"
                    required
                  >
                </textarea>
            </div>
        </div>
        <div class="px-1 md:flex mb-3">
            <div class="md:w-full px-3">
                <input type="submit" class="shadow-lg w-full cursor-pointer px-4 py-2 rounded-full border bg-neutral-800 text-neutral-50 hover:bg-neutral-600" />
            </div>
        </div>
      </div>
    {% endform %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Template Article",
  "tag": "article",
  "class": "flex max-w-4xl flex-col w-full mx-auto p-5",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "label": "Display Author Name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_publish_date",
      "label": "Display Published date",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
